.form-invalid {
    color: #f50000;
    font-size: 12px;
}

.input-invalid {
    border: 1px solid #f50000;
}

#form {
    display: flex;
}

#form .data {
    padding-right: 30px;
    display: block;
}

button {
    margin: 16px auto;
}